//colors

$veryDarkGrey: #363636;
$darkGrey: #070707;
$blackGrey: #0D0D0D;
$veryBlackGrey: #141414;
$veryDarkBlue: #111112;
$white: #FFFFFF;
$lightRed: #FF6058;
$darkRed: #951F1F;
$lightOrange: #FEBC30;
$darkOrange: #C38400;
$lightLime: #29C941;
$darkLime: #008414;
$backgroundGradient: linear-gradient(0, #{$veryBlackGrey} 0%, #{$veryDarkGrey} 100%);

// breakpoints (width)
$small: 420px;
$medium: 700px;
$large: 1024px;
$extraLarge: 1440px;
$portrait: 580px;
